.navbar {
    border-width: 0 0 0 0;
    margin: 0 0 0 0;
    background: rgba(54, 54, 54, .5);
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav .dropdown-menu li > a {
    color: #303030;
}
.nav > li > a.nav_center_vertical {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
}
.navbar-brand.nav_center_vertical {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
}
body > footer {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #303030;
    background: rgba(255,255,255,1.0);
}
.navbar-inverse .navbar-nav li > a {
    color: #f0f0f0;
}
body {
    background-image: url('../images/body_bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0px 0px;
}
#content {
    background-color: #FFFFFF;
    background-image: url('../images/bkg.png');
    padding-top: 50px;
    padding-bottom: 90px;
    min-height: 700px;
    margin-top: 300px;
}
a:active {
    outline: none;
}
a:focus {
    outline: none;
}
#landing_section {
    color: #FFFFFF;
}
#landing_section {
    text-align: center;
}
#landing_section h1 {
    font-size: 70px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Montserrat,sans-serif;
}
#landing_section h3 {
    font-size: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: Montserrat,sans-serif;
}
div.no-padding {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
div.light-bk-div {
    background: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
div.row > div > div > div {
    width: 100%;
    height: 150px;
    overflow: hidden;
}
div.row > div > div img {
    height: auto;
    width: 100%;
}