@(title: String)(page_type: views.enum_main_page_type)(content: Object)
<!--TODO: move inline css to external file-->

<!DOCTYPE html>

<script>
        if (window.location.toString().contains("?code")) {
            window.history.replaceState('Object','Title','/');
        }
</script>

<html lang="en">
<head>
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>

    <!-- JS -->
    <!-- JQuery! -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" async="async"></script>
    <!-- Bootstrap! -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" async="async"></script>
    <!-- My JS, actually mostly empty-->
    <!--<script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>-->

    <!-- CSS -->
    <!-- Bootstrap! -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- My CSS! -->
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>

</head>

<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                MENU
            </button>
            <a class="navbar-brand nav_center_vertical" href="/">
            Indiepocalypse
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li @if(page_type==views.enum_main_page_type.DOCS){class="active" }><a class="nav_center_vertical" href="/docs">FAQ</a></li>
                <li @if(page_type==views.enum_main_page_type.EXPLORE){class="active" }><a class="nav_center_vertical" href="/explore">Explore</a></li>
                <li @if(page_type==views.enum_main_page_type.BLOG){class="active" }><a class="nav_center_vertical" href="/blog">Blog</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

            @if(stores.store_session.user_is_logged()) {

            <li><a class="nav_center_vertical" href="/newrepo" title="new repo">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a></li>

            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    title="settings, profile & more">
                <img src="@stores.store_session.get_avatar_url()"
                   alt="@stores.store_session.get_user_name()"
                   style="width:30px;height:30px;margin:0px;margin-top:0px;">
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class="dropdown-header">logged in as <strong>@stores.store_session.get_user_name()</strong></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/u/@stores.store_session.get_user_name()">Profile</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>

            }else {
                @stores.store_session.set_return_to(stores.store_session.get_path())
                <li><a class="nav_center_vertical"
                   href=@stores.store_github_api.get_github_access_url(stores.store_session.get_state())>login with
                    github</a></li>
            }

            </ul>
        </div>
    </div>
</nav>
<section id="landing_section">
    <div class="container-fluid">
        <h1>CREATE GAMES TOGETHER</h1>
        <h3>
            help develop a commercial game, negotiate your share from the revenue
        </h3>

    </div>
    <!--<div class="container col-md-6">-->
        <!--<h1>Create games together!</h1>-->
    <!--</div>-->
</section>
<section id="content">
<div class="container-fluid">
    <div class="col-md-offset-1 col-md-10 col-sm-12">
        @content
    </div>
</div>
</section>

<footer>
    <div class="container-fluid">
        <strong>sponsored by Crazyduck</strong>
    </div>
</footer>

</body>
</html>

