@(repo: models_db_github.model_repo)(owners: List[models_db_indie.model_ownership])(pull_requests: List[models_db_github.model_pull_request])

<div class="container col-md-6">

    @if(stores.store_session.pop_new_repo(repo.repo_name)){
    <div class="alert alert-success alert-dismissible" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        Repository @repo.repo_name was successfully created!
    </div>
    }

    <h1>
        @repo.repo_name
    </h1>

    <h2>
        @repo.repo_description
    </h2>

    <h1>
        Owners
    </h1>

    @owners.map{owner=>
    @defining("/u/"+owner.user.user_name) { indie_html_url =>
    <div class="container col-md-6">
        <h3><a href="@indie_html_url">@owner.user.user_name</a></h3>
        <a href="@owner.user.github_html_url">see in github</a>
        <img src="@owner.user.avatar_url" width="50px">

        <h2>@owner.percent</h2>
    </div>
    }
    }

    <h1>
        Open pull requests
    </h1>

    @pull_requests.map{pull_request=>
    <div class="container col-md-6">
        <h3>@pull_request.title</h3>
    </div>
    }


</div>
