@(list_repos: List[ArrayList[models_db_github.model_repo]])(users: List[models_db_github.model_user])(repos_images: Map[String, List[models_db_indie.model_repo_image]])


<!--EXPLORE REPOS!-->
    @list_repos.map{repos=>
    <div class="row">
        @repos.map{repo=>
            @defining("/r/"+repo.repo_name) { indie_html_url =>
            <div class="col-sm-3 no-padding">
                <div class="light-bk-div">
                    @if(repos_images.get(repo.repo_name).size()==0){
                        <img src='@routes.Assets.versioned("images/img_not_found.jpg")' width="100%">
                    }else{
                        @defining("/i/"+repos_images.get(repo.repo_name).get(0).unique_file_name) { url =>
                            <img src='@url' width="100%">
                        }
                    }
                    <h3><a href="@indie_html_url">@repo.repo_name</a></h3>
                    <a href="@repo.github_html_url">see in github</a>
                </div>
            </div>
            }
        }
    </div>
    }

<!--EXPLORE USERS!-->
    @users.map{user=>
    @defining("/u/"+user.user_name) { indie_html_url =>
    <div class="container col-md-6">
        <h3><a href="@indie_html_url">@user.user_name</a></h3>
        <a href="@user.github_html_url">see in github</a>
        <img src="@user.avatar_url" width="50px">
    </div>
    }
    }

@view_repo_image_upload.render()
