@(title: String)(content: Object)

<!DOCTYPE html>

<script>
        if (window.location.toString().contains("?code")) {
            window.history.replaceState('Object','Title','/');
        }



</script>

<html lang="en">
<head>
    <title>@title</title>
    <!--no need for custom js or css-->
    <!--<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">-->
    <!--<script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>-->
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <!-- Bootstrap! -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
        .nav > li > a.nav_center_vertical {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .navbar-brand.nav_center_vertical {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        footer {
            background-color: #303030;
            padding-top: 50px;
            padding-bottom: 50px;
            color: #f0f0f0;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav_center_vertical" href="/">
            Indiepocalypse
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a class="nav_center_vertical" href="/faq">FAQ</a></li>
                <li><a class="nav_center_vertical" href="/explore">Explore</a></li>
                <li><a class="nav_center_vertical" href="/blog">Blog</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

            @if(stores.store_session.user_is_logged()) {

            <li><a class="nav_center_vertical" href="/newrepo" title="new repo">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a></li>

            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    title="settings, profile & more">
                <img src="@stores.store_session.get_avatar_url()"
                   alt="@stores.store_session.get_user_name()"
                   style="width:30px;height:30px;margin:0px;padding:0px;">
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class="dropdown-header">logged in as <strong>@stores.store_session.get_user_name()</strong></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="u/@stores.store_session.get_user_name()">Profile</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>

            }else {
            <li><a class="nav_center_vertical"
               href=@stores.store_github_api.get_github_access_url(stores.store_session.get_state())>login with
                github</a></li>
            }

            </ul>
        </div>
    </div>
</nav>
<section id="content">
<div class="container">
    @content
</div>
</section>

<footer>
    <div class="container">
        <strong>sponsored by Crazyduck 4444444444444</strong>
    </div>
</footer>

<!-- JQuery! -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" async="async"></script>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" async="async"></script>


</body>
</html>

